{% if parents.get_count() > 0 %}
    <ul class="unstyled">
        <li><b>{% trans 'Apparait aussi dans ces reportages' %} :</b></li>
        <hr />
        {% for par in parents %}
            <li onclick="openPreview('REG',0,'{{ par.get_serialize_key() }}'); return(false);"
                class="otherRegToolTip"
                {% if app['phraseanet.registry'].get('GV_rollover_reg_preview') %}tooltipsrc="{{ path('prod_tooltip_caption', { 'sbas_id' : par.get_sbas_id(), 'record_id' : par.get_record_id(), 'context' : 'basket' }) }}" {% endif %}>
                <img src="{{ par.get_thumbnail().get_url() }}"/>
                <a href="#" title="{{ par.get_title() }}">{{ par.get_title() }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if baskets|length > 0 %}
    <ul class="unstyled">
        <li><b>{% trans 'Apparait aussi dans ces paniers' %} :</b></li>
        <hr />
        {% for basket in baskets %}
            <li onclick="openPreview('BASK',0,'{{ basket.getId() }}',true); return(false);"
                class="otherBaskToolTip" title="{{ basket.getDescription() }}">
                <img src="/skins/icons/basket.gif"/>
                <a href="#" title="{{ basket.getName() }}">{{ basket.getName() }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
